 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
 <!-- <script src='https://rawgithub.com/soulwire/sketch.js/v1.0/js/sketch.min.js'></script> -->
 <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
 <!-- <script  src="{{ "js/script.js" | absURL }}"></script> -->

 <script type="text/javascript">
  function autorun()
  {

   $('section a').filter('[href$=\\.png],[href$=\\.jpg],[href$=\\.gif],[href*="youtube"],[href*="vimeo"]').fancybox({
    protect: false,
    smallBtn: false,
    toolbar: false
   });

  }
  if (window.addEventListener) window.addEventListener("load", autorun, false);
  else if (window.attachEvent) window.attachEvent("onload", autorun);
  else window.onload = autorun;
 </script>