@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,900&display=swap');

html, body{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    line-height: 1.4;
    color: #1d1d1b;
    background-color: #FFFEF2;
}

a{
  text-decoration: none;
  color: inherit;
}

h1{
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}
